/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-inter);
  display: flex;
  margin: 0 auto;
  width: clamp(371px, 696px, 696px);
  flex-direction: column;
  overflow-x: hidden;
  background-image: repeating-linear-gradient(
      90deg,
      var(--linear-gradient-three) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--linear-gradient-three) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--linear-gradient-one) 0%,
      var(--linear-gradient-one) 0.1%,
      var(--linear-gradient-two) 100%
    );
  background-attachment: fixed;
  background-size: cover;
}

/*голова*/

.header {
  display: flex;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  flex-direction: column;
  width: 100%;
  color: var(--accent-color);
  align-items: center;
  font-family: var(--font-family-press);
  margin-top: 100px;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-variation-settings: "wght" var(--font-weight-themes);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.theme-menu__item {
  margin-bottom: 10px;
  position: relative;
  margin-left: 20px;
}

.theme-menu__item:last-child {
  margin-bottom: 25px;
}

.theme-menu__button {
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-variation-settings: "wght" var(--font-weight-themes);
  background-color: var(--background-color);
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  right: 98px;
  animation: slideRight 0.5s ease-in-out infinite alternate;
  display: inline-block;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: color 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 2px;
  background-color: var(--accent-color);
  transition: width 0.5s, opacity 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.header__title {
  margin: 136px 120px 20px 120px;
  font-size: clamp(2.8125rem, 2.4554rem + 1.7857vw, 4.0625rem);
}

.header__text {
  margin-bottom: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/*карточки*/

.main__section {
  background-color: var(--background-color);
  margin-bottom: 54px;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.title__main-list {
  padding: 5px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-title-themes);
  border-bottom: 2px solid var(--accent-color);
}

.label__img {
  display: inline-block;
  border-bottom: 2px solid var(--accent-color);
  width: 100%;
  position: relative;
}

.img__main-list {
  width: 100%;
  overflow: hidden;
  min-height: 696px;
  object-fit: inherit;
  margin-bottom: -4px;
}

.img-label {
  position: absolute;
  top: 24px;
  z-index: 2;
  font-family: var(--font-family-press);
  font-size: 14px;
  right: 21px;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px -1px 0 var(--label-color-shadow),
    1px -1px 0 var(--label-color-shadow), -1px 1px 0 var(--label-color-shadow),
    1px 1px 0 var(--label-color-shadow);
}

@supports ((text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #000000)) {
  .img-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-shadow: 1px var(--background-color);
    text-shadow: none;
  }
}

.p__main-list {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-themes);
  margin: 25px 25px 27px 25px;
}

/*кнопки сердце и like*/

.container__btn-like {
  display: flex;
  justify-content: end;
  margin: 0px 20px 15px 0;
}

.card__icon-button {
  border: none;
  cursor: pointer;
  background-color: var(--background-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  transition: outline 0.3s ease;
}

.card__like-button {
  padding: 5px 20px;
  margin-bottom: 5px;
  width: 130px;
}

.button__save-like-ok {
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}

.button__text {
  font-family: var(--font-family-press);
  font-size: 14px;
  font-variation-settings: "wght" var(--font-weight-themes);
  z-index: 1;
  position: relative;
  color: var(--accent-color);
  cursor: pointer;
  mix-blend-mode: difference;
  transition: color 1s ease;
}

.button__save-like-ok:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button__save-like-ok::after {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  z-index: 0;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__save-like-ok:hover::after {
  transform: scaleX(1);
}

.button__save-like-ok:hover .button__text {
  color: var(--text-button);
  transition: color 0.3s ease-in-out;
}

/* футер */

.footer {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 105px;
}

.footer__btn-save {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.floppy-img {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 2;
  fill: var(--text-button);
  mix-blend-mode: difference;
  transition: fill 1s ease;
}

.dialog .floppy-img {
  width: 39px;
  height: 39px;
  fill: var(--text-button);
}

/* всплывающее окно диалог*/

.dialog__text {
  font-family: var(--font-family-press);
  max-width: 234px;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: var(--font-weight-themes);
}

.save-as-a-memory {
  border: 2px solid var(--accent-color);
  max-inline-size: 550px;
  min-inline-size: 250px;
}

#save-as-a-memory::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

#save-as-a-memory[open] {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.dialog {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn_dialog-text {
  background-color: var(--background-color);
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  border: 2px solid var(--accent-color);
  padding: 9px 17px;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}

/* фильтры для изображений*/

.filter-img1 {
  filter: brightness(170%);
}

.filter-img2 {
  filter: blur(10px);
}

.filter-img3 {
  filter: opacity(50%);
}

.filter-img4 {
  filter: grayscale(99%);
}

.filter-img5 {
  filter: saturate(200%);
}

.filter-img6 {
  filter: invert(140%);
}

.filter-img7 {
  filter: drop-shadow(20px) sepia(40%);
}

.filter-img8 {
  filter: grayscale(70%);
}



@media (width <= 375px) {
  .page {
    width: 100%;
  }

  .header {
    min-height: 323px;
  }

  .header__title {
    margin: 120px 14px 14px 0;
  }
}

@media screen and (max-width: 768px) {
  .page {
    width: 100%;
    overflow-x: hidden;
  }
}
