/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
--accent-color: #00CC14;
--background-color: #000;
--linear-gradient-one: #007F0C;
--linear-gradient-two: #004306;
--favicon: #00CC14;
--text-button: #00CC14;
--bg-button-hover: #00cc14;
--heart-contour: #00cc14;
}

:root.theme-light {
--accent-color: #000;
--bckground-color: #fff;
--linear-gradient-one: #e7e7e7;
--linear-gradient-two: #1a1a1a;
--favicon: #000;
}

