/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family-inter: 'Inter';
    --font-family-press: 'PressStart2P';
    --font-weight-themes: 400;
    --font-title-themes: 700;
    --background-color: #FFF;
    --accent-color: #000;
    --linear-gradient-one: #e7e7e7;
    --linear-gradient-two: #1a1a1a;
    --linear-gradient-three: #d3d3d3;
    --favicon: #000;
    --text-button: #fff;
    --bg-button-hover: #000;
    --heart-color: #FF0000;
    --heart-contour: #000;
    --label-color-shadow: #fff;
}


